
html { margin: 0; padding: 0; font-size: 10px; box-sizing: border-box; }
body { position: relative; margin: 0; padding: 0; font-size: 1.6rem; }

*,
*::before,
*::after { box-sizing: inherit; }


body { display: flex; height: 100vh; }

.sideList { flex: 0 0 150px; font-size: 1.2rem; }

.sideList .item { padding: .4em .6em; border-bottom: 1px solid #ddd; }
.sideList .item:hover { cursor: pointer; background-color: #ddd; }


.mainView { flex: 1 1 auto; background-color: #eee; }

.mainView .item {
  width: 100%; height: 100vh;
  text-align: center;
  background-color: transparent; background-position: center center; background-repeat: no-repeat; background-size: cover;
  user-select: none;
}

.mainView .item .name {
  display: block;
  background-color: rgba(255,255,255,.5);
  padding: .3em .6em;
}

.mainView .item .name::after {
  content: "Clicks: " attr(data-clicks);
  display: inline-block;
  padding: 0 .5em;
  font-size: .75em;
}

